/*Estilo menu*/

.nav {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 100vh;
    background: rgb(219, 20, 60, 0.7);
    /*js*/
    left: -100%;
    transition: all 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    display: block;
    padding: 20px;
    background: crimson;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.menu__link:hover {
    background: #fff;
    color: crimson;
}


/*para que el menu de navegacion aparerca selecionado*/

.select {
    background: #fff;
    color: crimson;
}


/*js*/

.mostrar {
    left: 0;
}


/*----------Responisive-----------------*/

@media(min-width:480px) {
    .menu__link {
        font-size: 1.2em;
    }
}

@media(min-width:1024px) {
    .nav {
        position: static;
        width: auto;
        background: none;
    }
    .menu {
        display: flex;
    }
    .menu__link {
        background: none;
        border-bottom: none;
        font-size: 20px;
    }
    .select {
        background: crimson;
        color: #fff;
        font-size: 20px;
    }
}